{% extends 'layout.html' %}
{% from 'lib.j2' import bootswatch_spacelab_css, jquery_js, leaflet_js, leaflet_css %}
{% from 'page.j2' import nav_logo, nav_title, nav_menu, footer %}

{% block web_title %}
    SAEON Open Data Platform
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark p-3">
        <div class="container-fluid">
            <div class="navbar-nav justify-content-start flex-grow-evenly">
                {{ nav_logo() }}
            </div>
            <div class="d-flex flex-column align-items-center navbar-nav justify-content-center">
                {{ nav_title(current_user, request.blueprint,
                    catalog='Catalogue',
                    data='Data access',
                    package='Data upload'
                ) }}
            </div>
            <div class="navbar-nav justify-content-end flex-grow-evenly">
                {{ nav_menu(current_user, request.blueprint,
                    catalog='Catalogue',
                    data='Data access',
                    package='Data upload'
                ) }}
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    {{ footer(
        color='light', hr=False,
        repos=['odp-server', 'odp-core', 'odp-ui', 'odp-web']
    ) }}
{% endblock %}

{% block styles %}
    {{ super() }}
    {{ bootswatch_spacelab_css() }}
    {{ leaflet_css() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ jquery_js() }}
    {{ leaflet_js() }}
    <script src="{{ url_for('static', filename='scripts/catalog.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controls.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/forms.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/packages.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/leaflet-providers.js') }}"></script>
{% endblock %}
